  /* ------------------------------------------Footer------------------------------------------ */

  .footer {
    background-color: rgb(222, 210, 158);
    padding: 60px;
    .box-footer {
        @extend %flexSpaceAround;
        .location {
            font-family: Nanumgothicextrabold;
            font-size: 12px;
            color: rgb(80, 129, 4);
            text-align: center;
            line-height: 35px;
            cursor: pointer;
            list-style-type: none;
            .copy {
                font-family: Nanumgothicbold;
                color: map-get($colors, backgroundColorFondosOtros);
                font-size: 14px;
                cursor: pointer;
              }
          }
      }
  }
  
  .networks {
    a {
        i {
            text-decoration: none;
            color: rgb(219, 130, 0);
            font-size: 75px;
            margin: 28px;
            &:hover {
                color: rgb(80, 129, 4);
                transform: scale(1.4);
                transition: all 0.3s ease-in-out;
            }
          }
    }
  }



  

   /* ---------------------------------------------- MQ ----------------------------------------------*/
  
   @media screen and (max-width: 768px) {
    .footer {
      padding: 25px;
    }
    .box-footer {
      display: flex;
      flex-direction: column;
    }
    .footer .networks {
      display: flex;
      justify-content: center;
      padding-bottom: 12px;
    }
    .footer .location {
      font-size: 14px;
      position: relative;
      top: 30px;
      right: 15px;
      text-align: center;
    }
    .logofooter {
      text-align: center;
      padding-top: 25px;
      padding-bottom: 10px;
    }
    .copy {
      font-size: 12px;
      padding-bottom: 40px;
      padding-top: 10px;
    }
}   