  /* ------------------------------------------Footer------------------------------------------ */

  .footer {
    background: rgb(236,214,192);
    background: radial-gradient(circle, rgba(236,214,192,1) 23%, rgba(161,139,117,1) 73%); 
    padding: 65px;
    .box-footer {
        @extend %flexSpaceAround;
        .location {
            font-family: Nanumgothicbold;
            font-size: 19px;
            color: map-get($colors, backgroundColorMain);
            text-align: center;
            line-height: 40px;
            cursor: pointer;
            list-style-type: none;
            .copy {
                font-family: Nanumgothicbold;
                color: map-get($colors, backgroundColorFondosOtros);
                font-size: 13px;
                cursor: pointer;
              }
          }
      }
  }
  
  .networks {
    a {
        i {
            text-decoration: none;
            color:  rgb(80, 129, 4);
            font-size: 75px;
            margin: 28px;
            &:hover {
                color: rgb(219, 130, 0);
                transform: scale(1.3);
                transition: all 0.2s ease-in-out;
            }
          }
    }
  }



  

   /* ---------------------------------------------- MQ ----------------------------------------------*/
  
   @media screen and (max-width: 768px) {
    .footer {
      padding: 25px;
    }
    .box-footer {
      display: flex;
      flex-direction: column;
    }
    .footer .networks {
      display: flex;
      justify-content: center;
      padding-bottom: 12px;
    }
    .footer .location {
      font-size: 14px;
      position: relative;
      top: 30px;
      right: 15px;
      text-align: center;
    }
    .logofooter {
      text-align: center;
      padding-top: 25px;
      padding-bottom: 10px;
    }
    .copy {
      font-size: 12px;
      padding-bottom: 40px;
      padding-top: 10px;
    }
}   