/* ------------------------------------------Header------------------------------------------ */

  /* -------fondonavbar solamente para las pages-------- */

  .fondonavbar {
    background-color: rgb(226, 227, 231);
  }
  
  .navbar {
    ul {
        li {
            a {
                font-size: 22px;
                color: map-get($colors, backgroundColorFondosOtros);
                text-decoration: none;
                transition: all 0.3s ease;
                font-family: Nanumgothicextrabold;
                padding: 25px;
                margin: 10px;
                &:hover {
                        color: rgb(255, 94, 0);
                        font-size: 24px;
                        font-weight: 900;
                    }
            }
        }
    }
  }
  
  .logotipo {
    -webkit-animation-name: logotipo;
            animation-name: logotipo;
    -webkit-animation-duration: 7s;
            animation-duration: 7s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }

  @-webkit-keyframes logotipo {
    50% {
      transform: rotatey(360deg);
    }
  }
  
  @keyframes logotipo {
    50% {
      transform: rotatey(360deg);
    }
  }
  
  #parallax {
    background-image: linear-gradient(rgba(255, 218, 137, 0.445), rgba(0, 0, 0, 0.1)), url(../Images/Detalles6.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
  }
  
  #parallax2 {
    background-image: linear-gradient(rgba(255, 218, 137, 0.445), rgba(0, 0, 0, 0.1)), url(../Images/Detalles5.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
  }
  
  #parallax3 {
    background-image: linear-gradient(rgba(255, 218, 137, 0.445), rgba(0, 0, 0, 0.1)), url(../Images/Detalles3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
  }


  

   /* ---------------------------------------------- MQ ----------------------------------------------*/
  
   @media screen and (max-width: 768px) {
    #parallax {
      background-position: center;
      height: 80vh;
    }
    #parallax2 {
      background-position: center;
      height: 80vh;
    }
    #parallax3 {
      background-position: center;
      height: 80vh;
    }
}   