* {
    padding: 0%;
    margin: 0%;
  }
  
  @font-face {
    font-family: Nanumgothicbold;
    src: url(../Fonts/NanumGothic-Bold.ttf);
  }
  @font-face {
    font-family: Nanumgothicextrabold;
    src: url(../Fonts/NanumGothic-ExtraBold.ttf);
  }


$borders: (
  bordersRadius: 18px,
);

$colors: (
  backgroundColorMain: rgb(182, 66, 1),
  backgroundColorFondos: rgb(80, 129, 4)
);
