$fonts: (
    font-family: Nanumgothicbold,
    src: url(../Fonts/NanumGothic-Bold.ttf),
    font-family: Nanumgothicextrabold,
    src: url(../Fonts/NanumGothic-ExtraBold.ttf)
    );

$borders: (

);

$display: (

);

$links: (

);



