* {
  padding: 0%;
  margin: 0%;
}

@font-face {
  font-family: Nanumgothicbold;
  src: url(../Fonts/NanumGothic-Bold.ttf);
}
@font-face {
  font-family: Nanumgothicextrabold;
  src: url(../Fonts/NanumGothic-ExtraBold.ttf);
}
.boxcursos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer .box-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* ------------------------------------------Footer------------------------------------------ */
.footer {
  background: rgb(236, 214, 192);
  background: radial-gradient(circle, rgb(236, 214, 192) 23%, rgb(161, 139, 117) 73%);
  padding: 65px;
}
.footer .box-footer .location {
  font-family: Nanumgothicbold;
  font-size: 19px;
  color: rgb(182, 66, 1);
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  list-style-type: none;
}
.footer .box-footer .location .copy {
  font-family: Nanumgothicbold;
  color: rgb(24, 24, 24);
  font-size: 13px;
  cursor: pointer;
}

.networks a i {
  text-decoration: none;
  color: rgb(182, 66, 1);
  font-size: 75px;
  margin: 28px;
}
.networks a i:hover {
  color: rgb(80, 129, 4);
  transform: scale(1.3);
  transition: all 0.2s ease-in-out;
}

/* ---------------------------------------------- MQ ----------------------------------------------*/
@media screen and (max-width: 768px) {
  .footer {
    padding: 25px;
  }
  .box-footer {
    display: flex;
    flex-direction: column;
  }
  .footer .networks {
    display: flex;
    justify-content: center;
    padding-bottom: 12px;
  }
  .footer .location {
    font-size: 14px;
    position: relative;
    top: 30px;
    right: 15px;
    text-align: center;
  }
  .logofooter {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
  }
  .copy {
    font-size: 12px;
    padding-bottom: 40px;
    padding-top: 10px;
  }
}
/* ------------------------------------------Header------------------------------------------ */
/* -------fondonavbar solamente para las pages-------- */
.fondonavbar {
  background-color: rgb(236, 214, 192);
}

.navbar ul li a {
  font-size: 22px;
  color: rgb(182, 66, 1);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-family: Nanumgothicextrabold;
  padding: 5px;
  margin: 40px;
}
.navbar ul li a:hover {
  color: rgb(255, 94, 0);
  font-size: 24px;
  font-weight: 800;
}

.logotipo {
  -webkit-animation-name: logotipo;
  animation-name: logotipo;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes logotipo {
  50% {
    transform: rotatey(360deg);
  }
}
@keyframes logotipo {
  50% {
    transform: rotatey(360deg);
  }
}
#parallax {
  background-image: linear-gradient(rgba(81, 94, 128, 0.3), rgba(0, 0, 0, 0.2)), url(../Images/Detalles1.webp);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

#parallax2 {
  background-image: linear-gradient(rgba(81, 94, 128, 0.3), rgba(0, 0, 0, 0.2)), url(../Images/Paleta2.webp);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

#parallax3 {
  background-image: linear-gradient(rgba(81, 94, 128, 0.3), rgba(0, 0, 0, 0.2)), url(../Images/Detalles5.webp);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

/* ---------------------------------------------- MQ ----------------------------------------------*/
@media screen and (max-width: 768px) {
  #parallax {
    background-position: center;
    height: 100vh;
  }
  #parallax2 {
    background-position: center;
    height: 100vh;
  }
  #parallax3 {
    background-position: center;
    height: 100vh;
  }
  .navbar ul li a {
    margin: 20px;
    font-size: 24px;
    font-weight: 500;
  }
}
/* ------------------------------------------Main------------------------------------------ */
/*------------index-------------*/
.box-intro {
  background-color: rgb(182, 66, 1);
  font-family: Nanumgothicbold;
  color: rgb(24, 24, 24);
  font-size: 21px;
  padding: 32px;
  letter-spacing: 1px;
  line-height: 37px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 6px 12px rgb(24, 24, 24);
}

/*-------------workshop-------------*/
.atelierph {
  background-color: rgb(182, 66, 1);
  font-family: Nanumgothicbold;
  color: rgb(24, 24, 24);
  font-size: 21px;
  padding: 32px;
  letter-spacing: 1px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 6px 12px rgb(24, 24, 24);
}

#parallaxw1 {
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.3)), url(../Images/Espacio.webp);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

/*-------------galeria-------------*/
.box-gallery {
  background-color: rgb(24, 24, 24);
}
.box-gallery .titlegall {
  background-color: rgb(182, 66, 1);
  font-family: Nanumgothicbold;
  color: rgb(24, 24, 24);
  font-size: 21px;
  padding: 32px;
  letter-spacing: 1px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 6px 12px rgb(24, 24, 24);
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}
.gallery .imagesart {
  margin-top: 20px;
  margin-bottom: 20px;
  border: solid rgb(206, 200, 173) 7px;
  border-radius: 18px;
  cursor: pointer;
  width: 230px;
  height: 210px;
  transition: all 0.5s ease-in-out;
}
.gallery .imagesart:hover {
  width: 290px;
  height: 270px;
  border: solid rgb(219, 130, 0) 11px;
  border-radius: 18px;
  cursor: pointer;
}

/*---------------cursos---------------*/
.boxcursos {
  min-height: 102vh;
  background-color: rgb(80, 129, 4);
}
.boxcursos .card {
  position: relative;
  width: 405px;
  height: 580px;
  margin: 20px;
  cursor: pointer;
  background-color: rgb(80, 129, 4);
  border: none;
}
.boxcursos .card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}
.boxcursos .card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}
.boxcursos .card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 18px;
  overflow: hidden;
  transition: 1.7s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0px 6px 12px rgb(0, 0, 0);
}
.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.card .front h3 {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 50px;
  line-height: 45px;
  color: rgb(219, 130, 0);
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-family: Nanumgothicbold;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(24, 24, 24);
  padding: 15px;
  color: rgb(206, 200, 173);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0px 7px 12px rgb(0, 0, 0);
  font-family: Nanumgothicbold;
}
.card .back .link {
  border-top: solid 3px rgb(219, 130, 0);
  height: 50px;
  line-height: 50px;
  font-family: Nanumgothicbold;
}
.card .back .link a {
  color: rgb(206, 200, 173);
  font-family: Nanumgothicbold;
  font-size: 23px;
}

.card .back h3 {
  margin-top: 20px;
  letter-spacing: 2px;
  font-family: Nanumgothicbold;
  color: rgb(219, 130, 0);
}

.card .back p {
  letter-spacing: 1px;
  font-size: 20px;
  font-family: Nanumgothicbold;
}

/*-------------contacto--------------*/
.fondoform {
  background-color: rgb(24, 24, 24);
  height: auto;
}
.fondoform .title-form {
  font-family: Nanumgothicbold;
  font-size: 25px;
  font-weight: 700;
  background-color: rgb(182, 66, 1);
  color: rgb(206, 200, 173);
  text-align: center;
  margin-top: 10px;
  padding: 20px;
  border-radius: 18px;
  cursor: pointer;
}

.cuerpo-form {
  background-color: rgb(80, 129, 4);
  text-align: center;
  padding-top: 105px;
  padding-bottom: 130px;
  border-radius: 18px;
  cursor: pointer;
}
.cuerpo-form legend {
  background-color: rgb(219, 130, 0);
  color: rgb(24, 24, 24);
  font-weight: 400;
  box-shadow: 0px 5px 10px rgb(24, 24, 24);
  text-align: center;
  padding: 12px;
}

.cartadirec {
  background-color: #181818;
}
.cartadirec .card-box {
  position: relative;
  top: 10px;
  cursor: pointer;
}
.cartadirec .card-box .textouno {
  color: rgb(219, 130, 0);
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
}
.cartadirec .card-box .textodos {
  color: rgb(206, 200, 173);
  margin-top: 25px;
  text-align: center;
  cursor: pointer;
}

/*--------------coleccion--------------*/
.cardColeccion {
  box-shadow: 2px 4px 10px 0px #181818;
  padding: 4px;
  margin: 8px;
}

.cardColeccion > img {
  height: 400px;
}

.adquirir-Obra {
  background-color: #181818;
  color: rgb(219, 130, 0);
  border-radius: 5px;
  border-color: rgb(80, 129, 4);
  border-width: 3px;
  font-weight: 550;
  padding: 3px;
  width: 100%;
}

/* ---------------------------------------------- MQ ----------------------------------------------*/
@media screen and (max-width: 768px) {
  .gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .box-gallery .titlegall {
    font-size: 19px;
  }
  .cursos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 300vh;
  }
  .slogan {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .fondoform {
    height: auto;
  }
  .fondoform .title-form {
    font-size: 23px;
    text-align: center;
    width: 100%;
  }
  .cuerpo-form {
    width: 100%;
    padding: 68px;
  }
  .cartadirec .card-box {
    position: relative;
    top: 12px;
    margin-bottom: 28px;
  }
  .atelierph {
    background-color: rgba(31, 23, 15, 0.267);
    color: rgb(206, 200, 173);
    text-align: center;
    font-size: 23px;
  }
  #parallaxw1 {
    height: auto;
  }
  .box-intro {
    font-size: 20px;
    height: auto;
    line-height: 28px;
    text-align: center;
    padding: 18px;
  }
}/*# sourceMappingURL=styles.css.map */