*{
    padding: 0%;
    margin: 0%;
}

@font-face {
    font-family: Nanumgothicbold ;
    src: url(../Fonts/NanumGothic-Bold.ttf);
}

@font-face {
    font-family: Nanumgothicextrabold ;
    src: url(../Fonts/NanumGothic-ExtraBold.ttf);
}

/* ------------------------------------------Header------------------------------------------ */

.fondonavbar {
    background-color: #ffda89;
}

.navbar ul li a {
    font-size: 22px;
    color: #B64201;
    text-decoration: none;
    transition: all 0.3s ease;
    font-family: Nanumgothicextrabold ;
    padding: 25px;
    margin: 10px;
}

.navbar ul li a:hover {
    color: #ff5e00;
    font-size: 24px;
    font-weight: 900;
}

.logotipo {
    animation-name: logotipo;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#parallax {
    background-image: linear-gradient(rgba(255, 218, 137, 0.445), rgba(0, 0, 0, 0.1) ), url(../Images/Detalles6.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
}

#parallax2 {
    background-image: linear-gradient(rgb(255, 218, 137, 0.445), rgba(0, 0, 0, 0.1) ), url(../Images/Detalles5.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
}

#parallax3 {
    background-image: linear-gradient(rgb(255, 218, 137, 0.445), rgba(0, 0, 0, 0.1) ), url(../Images/Detalles3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
}

@keyframes logotipo {
    0% {

    }
    50% {
    transform: rotatey(360deg)
    }
    100% {
    
    }
}

/* ------------------------------------------Main------------------------------------------ */
.box-intro {
    background-color: #DB8200;
    height: 30vh;
    width: 100%;
    font-family: Nanumgothicbold;
    src: url(../Fonts/NanumGothic-Bold.ttf);
}
.sloganmax {
    background-color: #000000;
}

.slogan1 {
    font-family: Nanumgothicextrabold ;
    font-size: 44px;
    color: rgb(255, 255, 255);
}

.slogan2 {
    font-family: Nanumgothicextrabold ;
    font-size: 26px;
    color: #DB8200 ;
    width: 35%;
    position: relative;
    top: 360px;
    left: 0px;
    font-weight: 1000;
}

.titlegall{
    font-family: Nanumgothicbold ;
    font-size: 20px;
    background-color: #B64201;
    color: #ffffff;
    padding: 7px;
    text-align: center;
}

.gallery {
    display: grid;
    background-color: #000000;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    column-gap: 5px;
    row-gap: 15px;
}

.imagesart {
    margin-top: 20px;
    margin-bottom: 20px;
    border: solid #ffffff;
    border-width: 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.imagesart:hover {
    width: 290px;
    height: 270px;
}

.fondoform {
    background-color: #000000;
    padding-top: 1px;
}

.title-form {
    font-family: Nanumgothicbold ;
    font-size: 20px;
    background-color: #B64201;
    color: #ffffff;
    padding: 7px;
    width: 25%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.cuerpo-form legend {
    background-color: #DB8200;
    width: 100%;
    margin-top: 2%;
    margin-bottom: 3%;
}

.cuerpo-form {
    background-color: #508104;
    padding: 7px;
    width: 25%;
}

#parallaxw1 {
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.1) ), url(../Images/Espacio.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 120vh;
}

.atelierph p {
    background-color: #B64201;
    font-family: Nanumgothicbold;
    color: #000000;
    font-size: 20px;
    padding: 30px;
    letter-spacing: 1px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}

.cursos {
    background-color: #000000;
    height: 100vh;
    font-family: Nanumgothicbold ;
    font-size: 25px;
    color: #ffffff;
    font-weight: 900;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
}

.curso1 {
    background-image: url(../Images/Detalles1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    position: relative;
    filter: blur(3px);
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 3px;
}

.curso2 {
    background-image: url(../Images/Paleta2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    position: relative;
    filter: blur(3px);
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 3px;
}

.curso3 {
    background-image: url(../Images/Detalles2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    position: relative;
    filter: blur(3px);
    transition: all 0.5s;
    cursor: pointer;
    border-radius: 3px;
}

.curso1:hover {filter: blur(0); transition: all 0.5s;}
.curso2:hover {filter: blur(0); transition: all 0.5s;}
.curso3:hover {filter: blur(0); transition: all 0.5s;}

/* ------------------------------------------Footer------------------------------------------ */

.footer {
    background-color: #DED29E;
    padding: 60px;
}

.networks a {
    text-decoration: none;
    color: #DB8200;
    font-size: 60px;
    margin: 28px;
}

.networks a i:hover {
    color: #508104;
    transform: scale(1.4);
    transition: ease-in-out 0.2s;
}

.footer .networks li {
    margin: 0px;
    padding: 8px
}

footer ul {
    list-style-type: none;
}

.copy {
    font-family: Nanumgothicbold ;
    color: #000000;
    font-size: 14px;
    cursor: pointer;
}

.footer .location {
    font-family: Nanumgothicextrabold ;
    font-size: 12px;
    color: #508104;
    text-align: center;
    line-height: 35px;
    cursor: pointer;
}

.box-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


@media screen and (max-width: 768px) {
    .gallery {display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr 1fr; }
    .footer {padding: 25px;}
    .box-footer {display: flex; flex-direction: column;}
    .footer .networks {display: flex; justify-content: center;}
    .footer .location {font-size: 14px; position: relative; top: 30px; right: 15px; text-align: center;}
    .logofooter {text-align: center; height: 90px;}
    .copy {font-size: 12px;}
    .navbar2 {display: none;}
    .navbar {justify-content: center;}
    .cursos {display: grid; grid-template-columns: 1fr; grid-template-rows: 1fr 1fr 1fr; height: 300vh;}
    .slogan {display: grid; grid-template-columns: 1fr; grid-template-rows: 1fr;}
    .fondoform {display: grid; grid-template-columns: 1fr; grid-template-rows: 1fr;}
    .title-form {font-size: 15px; text-align: center; width: 100%;}
    .cuerpo-form {width: 100%;}
    .atelierph p {background-color: #db830050; color: #ffffff; text-align: center; font-size: 21px; height: 120vh;}
    #parallax {background-position: center;}
    #parallax2 {background-position: center;}
    #parallax3 {background-position: center;}
}

@media screen and (max-width: 992px) {
    .gallery {display: grid; grid-template-columns: 1fr; grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;}
    .navbar2 {display: none;}
}

